body{
    background-color: #f6f6f6
}
.calculator {
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 15px;
  }
  
  .calculator h1 {
    grid-column: span 4;
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  .calculator input[type='text'].calinput {
    grid-column: span 4;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.144);
    outline: none;
    border: 2px solid transparent;
  }
  
  .calculator input[type='button'] {
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .calculator input[type='button']:hover {
    background-color: #e9e9e9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .calculator input[type='button']:active {
    background-color: #d9d9d9;
  }
  
  .calculator .clear {
    background-color: #ffeb3b;
  }
  
  .calculator .clear:hover {
    background-color: #ffeb3b;
  }
  
  .calculator .clear:active {
    background-color: #ffeb3b;
  }
  
  .calculator .cal-btn.backspace {
    background-color: #f44336;
    color: #fff;
  }
  
  .calculator .cal-btn.backspace:hover {
    background-color: #e53935;
  }
  
  .calculator .cal-btn.backspace:active {
    background-color: #d32f2f;
  }
  
  .calculator .cal-btn.equals {
    background-color: #4caf50;
    color: #fff;
  }
  
  .calculator .cal-btn.equals:hover {
    background-color: #43a047;
  }
  
  .calculator .cal-btn.equals:active {
    background-color: #388e3c;
  }
  
  .calculator .cal-btn:focus {
    outline: none;
  }
  
  .calculator .calinput:focus {
    border: 2px solid #00ff0d; /* Adjust focus border color */
  }
  