* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
  }
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: aliceblue;
  }
  .container {
    background-color: #fff;
    padding: 10px 20px 10px;
    max-width: 300px;
    position: relative;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    border: 3px solid #0066ff;
    transition: all 0.4s linear;
  }
  .container:hover {
    border: 3px solid transparent;
  }
  .display {
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 25px;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    color: #000e1a;
  }
  .buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
  .buttons button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
    transition: transform 0.4s linear;
  }
  
  .buttons button:active {
    transform: scale(0.85);
  }
  .cal-op {
    color: #0066ff;
  }
  